  <!-- ページタイトル & 右上検索ボックス -->
  <section class="container mx-auto px-6 pt-12">
    <div class="flex items-center justify-between mb-6">
      <h1 class="text-3xl font-bold"><%= t('recipes.index.title') %></h1>

    <div class="flex items-center gap-4">
      <%= render 'search_form' %>

      <%= link_to t('recipes.index.new'), new_recipe_path,
          class: "bg-white text-gray-900 font-semibold px-5 py-2.5 rounded-lg shadow
                  hover:bg-gray-200 transition whitespace-nowrap" %>
    </div>
    </div>

      <div class="container mx-auto px-4">
  
  <% if @recipes.any? %>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <% @recipes.each do |recipe| %>
        <%= render 'recipe', recipe: recipe %>
      <% end %>
    </div>
  <% else %>
    <div class="text-center">
      <p class="text-gray-600 mb-4"><%= t('recipes.index.no_recipes') %></p>
      <%= link_to t('recipes.index.new'), new_recipe_path, 
          class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
    </div>
  <% end %>
</div>
  </section>

